<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Профиль - {{ profile.runner.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/profile.css') }}">
</head>

<body>
    <div class="profile-wrap">
        <form action="{{ form.action }}" method="post" enctype="multipart/form-data">
            <img src="{{ url_for('static', path='images/profile-images/profile' + profile.id|string + '.webp') }}" alt="Фото профиля" width="300">
            {% if has_owner_permissions %}
                <div class="profile-image">
                    <input type="file" name="image" accept="image/*">
                </div>
            {% endif %}
            {% if profile.runner.name %}
                <div class="profile-name">
                  <input type="text" name="name" value="{{ profile.runner.name }}" {{ form.input_mode }}>
                </div>
            {% endif %}
            {% if profile.runner.age %}
                <div class="profile-age">
                    <p><input type="text" name="age" value="{{ profile.runner.age }}" {{ form.input_mode }}> лет</p>
                </div>
            {% endif %}
            {% if profile.runner.description %}
                <div class="profile-description">
                    <input type="text" name="description" value="{{ profile.runner.description }}" {{ form.input_mode }}>
                </div>
            {% endif %}
            {% if profile.runner.distance_from and profile.runner.distance_to %}
                <div class="profile-distance">
                  <p>
                    Обычно бегает:
                      от
                    <input type="text" name="distance_from" value="{{ profile.runner.distance_from}}" {{ form.input_mode }}>
                      до
                    <input type="text" name="distance_to" value="{{ profile.runner.distance_to}}" {{ form.input_mode }}> км
                  </p>
                </div>
            {% endif %}
            {% if profile.runner.speed_from and profile.runner.speed_to %}
                <div class="profile-speed">
                  <p>
                    Скорость бега:
                      от
                    <input type="text" name="speed_from" value="{{ profile.runner.speed_from}}" {{ form.input_mode }}>
                      до
                    <input type="text" name="speed_to" value="{{ profile.runner.speed_to}}" {{ form.input_mode }}> км/ч
                  </p>
                </div>
            {% endif %}
            <button type="submit">{{ form.button_name }}</button>
    </div>
</body>

</html>
